//- I use this datalink variable to quickly switch between using local assets and using uploaded assets. 
//- For example, say I am uploading files to http://data.baltimoresun.com/example-link
//- If I wanted to switch quickly to my local files, instead of changing all of my links, 
//- I can just modify this single variable.
//- There are two datalink variables so I don't have to rewrite the link every time. 
//- The second datalink variable declaration overwrites the first one. 
//- When I want to switch to my server assets, I comment out the second declaration.
- var datalink = "http://data.baltimoresun.com/news/korryn-gaines/"
- var datalink = ""

doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">
html(class="no-js", lang="en")
	head
		//Basic page needs
		meta(charset="utf-8")
		title
		meta(name="description", content="")
		meta(name="author", content="") 
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Old+Standard+TT|Lato|Montserrat|Prata")

		script(src="https://use.typekit.net/nta3eyd.js")
		script.
			try{Typekit.load({ async: true });}catch(e){}
		link(rel="stylesheet", type="text/css", href=datalink + "css/style.css")

		//Facebook Stuff
		meta(property="og:title", content="")
		meta(property="og:url", content="")
		meta(property="og:image", content="")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="")
		meta(property="fb:app_id", content="310302989040998")
		//Twitter Stuff
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="")
		meta(name="twitter:title", content="")
		meta(name="twitter:description", content="")
		meta(name="twitter:image", content="")
		meta(name="twitter:domain", content="baltimoresun.com")

		//- Ad tag, uncomment to put in ad. Be sure to uncomment the ad-for-body below.
		//- include includes/ad-for-header.html
		
	body
		//- This omniture file will also add a topnav. 
		//- Remember to update the omniture tags
		.navWrap
		include includes/omniture.html
		
		.container
			.slidesWrapper
				section.slide.slide--0.slide--splash
					h1 The 6-hour standoff of
						br
						span Korryn Gaines
					p.chatter.chatter--intro
						span On the morning of Aug. 1, 
						| officers with the Baltimore County Police Department arrived at the Randallstown apartment of Korryn Gaines to serve warrants on her and her fiance, Kareem Courtney. After a standoff that lasted about six hours, Gaines was dead from police gunfire. County prosecutors would rule the shooting justified, and no charges would be filed against officers.
					p.chatter.chatter--intro Through a public records request, The Baltimore Sun obtained and reviewed a trove of evidence in the case, from officer statements and police radio chatter to crime scene photographs and videos, pictures and audio recordings taken by Gaines during the standoff.
					p.chatter.chatter--intro This presentation explores what we found: a stark, unvarnished and rare look at the death of a young black woman at the hands of police, from both parties’ perspectives.

					.button.button--splash.button--dir(data-toslide='1')
						p Begin
						i.glyphicon.glyphicon-chevron-down
				section.slide.slide--content.slide--1
					.slideContentWrapper
						h3 9:10 a.m.
						h2 The standoff begins
						p
							span About 9:10 a.m., 
							| officers arrived at Gaines’ Randallstown apartment to serve warrants on her and her fiance, Kareem Courtney. Her warrant was for her failure to appear in court on charges related to a traffic stop in March. His warrant was for an assault charge based on a domestic violence report filed by Gaines in June. The officers kicked in the door of the apartment, then retreated to the outer hallway after Gaines, who had a shotgun, told them to leave. Courtney would soon exit the apartment with the couple’s 1-year-old daughter; Gaines remained inside with her 5-year-old son. At 9:41 a.m., officers reported a barricade situation.
						.media
							.media__item.media__item--image.media__item--1.media__item--1--0.active
								img(src=datalink+"images/s2-door-jamb.jpg")
								p.caption Still of officer’s rod as door jam
							.media__item.media__item--av.media__item--1.media__item--1--1
								.avWrap
									iframe(src="https://player.vimeo.com/video/189565735" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
							.media__item.media__item--image.media__item--1.media__item--1--2
								img(src=datalink+"images/s2-apt-building.jpg ")
								p.caption Still of apartment complex
						.mediaOverlay.mediaOverlay--1.mediaOverlay--1--0
							.button.button--exit
								i.glyphicon.glyphicon-remove
							.docCloud
								.DV-container#DV-viewer-3212766-Gaines-Previous-Arrest-Report
						.mediaOverlay.mediaOverlay--1.mediaOverlay--1--1
							.button.button--exit
								i.glyphicon.glyphicon-remove
							.docCloud
								.DV-container#DV-viewer-3212765-Warrant-Kareem-Courtney

						.mediaList
							h4 Multimedia
							ul
								li
									.mediaButton.mediaButton--main.active(data-slide='1' data-media='0')
										i.glyphicon.glyphicon-picture
										p Still of officer’s rod as door jam
								li
									.mediaButton.mediaButton--lightbox(data-slide='1' data-docnum='0')
										i.glyphicon.glyphicon-folder-open
										p Gaines previous arrest report
								li
									.mediaButton.mediaButton--lightbox(data-slide='1' data-docnum='1')
										i.glyphicon.glyphicon-folder-open
										p Warrant for arrest of Kareem Courtney
								li
									.mediaButton.mediaButton--main(data-slide='1' data-media='1')
										i.glyphicon.glyphicon-headphones
										p waiting
								li
									.mediaButton.mediaButton--main(data-slide='1' data-media='2')
										i.glyphicon.glyphicon-picture
										p Still of apartment complex
						.buttonsWrap
							.button.button--up.button--dir(data-toslide='0')
								p Prev
								i.glyphicon.glyphicon-chevron-up
							.button.button--down.button--dir(data-toslide='2')
								p Next
								i.glyphicon.glyphicon-chevron-down
				section.slide.slide--content.slide--2
					.slideContentWrapper
						h3 10:24 a.m.
						h2 “If you have a better system here, I’m listening.”
						p 
							span As the minutes passed, 
							| officers outside of Gaines’ apartment door tried to convince her to put down her gun and come out. Gaines didn’t budge. Outside, police amassed more resources. Gaines began recording parts of her conversations with police on her phone, including one in which an officer promises her she would not be hurt, and that he just wanted to talk to her.

						.media
							.media__item.media__item--image.media__item--2.media__item--2--0.active
								img(src="images/s3-blueprint.jpg")
								p.caption Apartment layout blueprint
							.media__item.media__item--av.media__item--2.media__item--2--1
								.avWrap
									iframe(src="https://player.vimeo.com/video/189972273" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
							.media__item.media__item--av.media__item--2.media__item--2--2
								.avWrap
									iframe(src="https://player.vimeo.com/video/189973237" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
							.media__item.media__item--av.media__item--2.media__item--2--3
								.avWrap
									iframe(src="https://player.vimeo.com/video/189975120" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
							.media__item.media__item--av.media__item--2.media__item--2--4
								.avWrap
									iframe(src="https://player.vimeo.com/video/190033831" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
						.mediaList
							h4 Multimedia
							ul
								li
									.mediaButton.mediaButton--main.active(data-slide='2' data-media='0')
										i.glyphicon.glyphicon-picture
										p Apartment layout blueprint
								li
									.mediaButton.mediaButton--main(data-slide='2' data-media='1')
										i.glyphicon.glyphicon-play-circle
										p 10:23 a.m.
								li
									.mediaButton.mediaButton--main(data-slide='2' data-media='2')
										i.glyphicon.glyphicon-play-circle
										p 10:24 a.m.
								li
									.mediaButton.mediaButton--main(data-slide='2' data-media='3')
										i.glyphicon.glyphicon-play-circle
										p 10:56 a.m.
								li
									.mediaButton.mediaButton--main(data-slide='2' data-media='4')
										i.glyphicon.glyphicon-headphones
										p 12 p.m. - 2 p.m.
						.buttonsWrap
							.button.button--up.button--dir(data-toslide='1')
								p Prev
								i.glyphicon.glyphicon-chevron-up
							.button.button--down.button--dir(data-toslide='3')
								p Next
								i.glyphicon.glyphicon-chevron-down
				section.slide.slide--content.slide--3
					.slideContentWrapper
						h3 12:24 p.m.
						h2 “The devil at my door”
						p 
							span Hours passed by. 
							| Gaines continued to record video on her phone, and post on social media. At 12:24 p.m., she recorded a video saying the “devil” was at her door, referring to police. Outside, officers obtained a warrant for her arrest on assault, resisting arrest and other charges related to her allegedly pointing her gun at the officers who had initially entered the apartment. Family members tried to reach Gaines, as did a police negotiator, by phone. At one point, Gaines had her son Kodi film an officer in the doorway to the apartment -- who tried to motion to the boy to come out, to no avail.
						.media
							.media__item.media__item--image.media__item--3.media__item--3--0.active
								img(src="images/s4-police-enter.jpg")
								p.caption photo caption
							.media__item.media__item--av.media__item--3.media__item--3--1
								.avWrap

							.media__item.media__item--av.media__item--3.media__item--3--2
								.avWrap

						.mediaList
							h4 Multimedia
							ul
								li
									.mediaButton.mediaButton--main(data-slide='3' data-media='0')
										i.glyphicon.glyphicon-picture
										p photo caption
								li
									.mediaButton.mediaButton--main(data-slide='3' data-media='1')
										i.glyphicon.glyphicon-play-circle
										p 11:11 p.m.: Video of police entering the apartment for the first time
								li
									.mediaButton.mediaButton--lightbox(data-slide='3' data-docnum='2')
										i.glyphicon.glyphicon-folder-open
										p Relevant documents
								li
									.mediaButton.mediaButton--main(data-slide='3' data-media='1')
										i.glyphicon.glyphicon-headphones
										p Audio of 911 dispatch
								li
									.mediaButton.mediaButton--main(data-slide='3' data-media='1')
										i.glyphicon.glyphicon-headphones
										p Audio of 911 dispatch
								li
									.mediaButton.mediaButton--main(data-slide='3' data-media='0')
										i.glyphicon.glyphicon-play-circle
										p 11:11 p.m.: Video of police entering the apartment for the first time
							.button.button--up.button--dir(data-toslide='2')
								p Prev
								i.glyphicon.glyphicon-chevron-up
							.button.button--down.button--dir(data-toslide='4')
								p Next
								i.glyphicon.glyphicon-chevron-down
				section.slide.slide--content.slide--4
					.slideContentWrapper
						h3 4:20 - 4:30
						h2 HEADLINE HEADLINE HEAD 4
						p 
							span 4 Lorem ipsum dolor sit amet 
							| consectetur adipiscing elit. Cras egestas leo sit amet sem varius aliquet. Pellentesque tempus dignissim nunc, ac lobortis eros sodales sit amet. Duis rutrum vehicula metus rhoncus ultrices.
						.media
							.media__item.media__item--image.media__item--4.media__item--4--0.active
								img(src="https://placeholdit.imgix.net/~text?txtsize=144&bg=82baf3&txt=1920%C3%971080&w=1920&h=1080")
								p.caption 4 Lorem ipsum dolor sit amet
							.media__item.media__item--av.media__item--4.media__item--4--1
								.avWrap

							.media__item.media__item--av.media__item--4.media__item--4--2
								.avWrap

						.mediaList
							h4 Multimedia
							ul
								li
									.mediaButton.mediaButton--main(data-slide='4' data-media='0')
										i.glyphicon.glyphicon-play-circle
										p 11:11 p.m.: Video of police entering the apartment for the first time
								li
									.mediaButton.mediaButton--main(data-slide='4' data-media='1')
										i.glyphicon.glyphicon-headphones
										p Audio of 911 dispatch
								li
									.mediaButton.mediaButton--main(data-slide='4' data-media='2')
										i.glyphicon.glyphicon-picture
										p Photos taken from Gaines' cell phone
								li
									.mediaButton.mediaButton--lightbox(data-slide='4' data-docnum='3')
										i.glyphicon.glyphicon-folder-open
										p Relevant documents
						.buttonsWrap
							.button.button--up.button--dir(data-toslide='3')
								p Prev
								i.glyphicon.glyphicon-chevron-up
							.button.button--down.button--dir(data-toslide='5')
								p Next
								i.glyphicon.glyphicon-chevron-down
				section.slide.slide--content.slide--5
					.slideContentWrapper
						h3 5:20 - 5:30
						h2 HEADLINE HEADLINE HEAD 5
						p 
							span 5 Lorem ipsum dolor sit amet 
							| consectetur adipiscing elit. Cras egestas leo sit amet sem varius aliquet. Pellentesque tempus dignissim nunc, ac lobortis eros sodales sit amet. Duis rutrum vehicula metus rhoncus ultrices.
						.media
							.media__item.media__item--image.media__item--5.media__item--5--0.active
								img(src="https://placeholdit.imgix.net/~text?txtsize=144&bg=82baf3&txt=1920%C3%971080&w=1920&h=1080")
								p.caption 5 Lorem ipsum dolor sit amet
							.media__item.media__item--av.media__item--5.media__item--5--1
								.avWrap

							.media__item.media__item--av.media__item--5.media__item--5--2
								.avWrap

						.mediaList
							h4 Multimedia
							ul
								li
									.mediaButton.mediaButton--main(data-slide='5' data-media='0')
										i.glyphicon.glyphicon-play-circle
										p 11:11 p.m.: Video of police entering the apartment for the first time
								li
									.mediaButton.mediaButton--main(data-slide='5' data-media='1')
										i.glyphicon.glyphicon-headphones
										p Audio of 911 dispatch
								li
									.mediaButton.mediaButton--main(data-slide='5' data-media='2')
										i.glyphicon.glyphicon-picture
										p Photos taken from Gaines' cell phone
								li
									.mediaButton.mediaButton--lightbox(data-slide='5' data-docnum='3')
										i.glyphicon.glyphicon-folder-open
										p Relevant documents
						.buttonsWrap
							.button.button--up.button--dir(data-toslide='4')
								p Prev
								i.glyphicon.glyphicon-chevron-up
							.button.button--down.button--dir(data-toslide='6')
								p Next
								i.glyphicon.glyphicon-chevron-down
				section.slide.slide--content.slide--6
					.slideContentWrapper
						h3 6:20 - 6:30
						h2 HEADLINE HEADLINE HEAD 6
						p 
							span 6 Lorem ipsum dolor sit amet 
							| consectetur adipiscing elit. Cras egestas leo sit amet sem varius aliquet. Pellentesque tempus dignissim nunc, ac lobortis eros sodales sit amet. Duis rutrum vehicula metus rhoncus ultrices.
						.media
							.media__item.media__item--image.media__item--6.media__item--6--0.active
								img(src="https://placeholdit.imgix.net/~text?txtsize=144&bg=82baf3&txt=1920%C3%971080&w=1920&h=1080")
								p.caption 6 Lorem ipsum dolor sit amet
							.media__item.media__item--av.media__item--6.media__item--6--1
								.avWrap

							.media__item.media__item--av.media__item--6.media__item--6--2
								.avWrap

						.mediaList
							h4 Multimedia
							ul
								li
									.mediaButton.mediaButton--main(data-slide='6' data-media='0')
										i.glyphicon.glyphicon-play-circle
										p 11:11 p.m.: Video of police entering the apartment for the first time
								li
									.mediaButton.mediaButton--main(data-slide='6' data-media='1')
										i.glyphicon.glyphicon-headphones
										p Audio of 911 dispatch
								li
									.mediaButton.mediaButton--main(data-slide='6' data-media='2')
										i.glyphicon.glyphicon-picture
										p Photos taken from Gaines' cell phone
								li
									.mediaButton.mediaButton--lightbox(data-slide='6' data-docnum='3')
										i.glyphicon.glyphicon-folder-open
										p Relevant documents
						.buttonsWrap
							.button.button--up.button--dir(data-toslide='5')
								p Prev
								i.glyphicon.glyphicon-chevron-up
							.button.button--down.button--dir(data-toslide='7')
								p Next
								i.glyphicon.glyphicon-chevron-down
				section.slide.slide--content.slide--7
					.slideContentWrapper
						h3 7:20 - 7:30
						h2 HEADLINE HEADLINE HEAD 7
						p 
							span 7 Lorem ipsum dolor sit amet 
							| consectetur adipiscing elit. Cras egestas leo sit amet sem varius aliquet. Pellentesque tempus dignissim nunc, ac lobortis eros sodales sit amet. Duis rutrum vehicula metus rhoncus ultrices.
						.media
							.media__item.media__item--image.media__item--7.media__item--7--0.active
								img(src="https://placeholdit.imgix.net/~text?txtsize=144&bg=82baf3&txt=1920%C3%971080&w=1920&h=1080")
								p.caption 7 Lorem ipsum dolor sit amet
							.media__item.media__item--av.media__item--7.media__item--7--1
								.avWrap

							.media__item.media__item--av.media__item--7.media__item--7--2
								.avWrap

						.mediaList
							h4 Multimedia
							ul
								li
									.mediaButton.mediaButton--main(data-slide='7' data-media='0')
										i.glyphicon.glyphicon-play-circle
										p 11:11 p.m.: Video of police entering the apartment for the first time
								li
									.mediaButton.mediaButton--main(data-slide='7' data-media='1')
										i.glyphicon.glyphicon-headphones
										p Audio of 911 dispatch
								li
									.mediaButton.mediaButton--main(data-slide='7' data-media='2')
										i.glyphicon.glyphicon-picture
										p Photos taken from Gaines' cell phone
								li
									.mediaButton.mediaButton--lightbox(data-slide='7' data-docnum='3')
										i.glyphicon.glyphicon-folder-open
										p Relevant documents
						.buttonsWrap
							.button.button--up.button--dir(data-toslide='6')
								p Prev
								i.glyphicon.glyphicon-chevron-up
							.button.button--down.button--dir(data-toslide='8')
								p Next
								i.glyphicon.glyphicon-chevron-down
				section.slide.slide--content.slide--8
					.slideContentWrapper
						h3 8:20 - 8:30
						h2 HEADLINE HEADLINE HEAD 8
						p 
							span 8 Lorem ipsum dolor sit amet 
							| consectetur adipiscing elit. Cras egestas leo sit amet sem varius aliquet. Pellentesque tempus dignissim nunc, ac lobortis eros sodales sit amet. Duis rutrum vehicula metus rhoncus ultrices.
						.media
							.media__item.media__item--image.media__item--8.media__item--8--0.active
								img(src="https://placeholdit.imgix.net/~text?txtsize=144&bg=82baf3&txt=1920%C3%971080&w=1920&h=1080")
								p.caption 8 Lorem ipsum dolor sit amet
							.media__item.media__item--av.media__item--8.media__item--8--1
								.avWrap

							.media__item.media__item--av.media__item--8.media__item--8--2
								.avWrap

						.mediaList
							h4 Multimedia
							ul
								li
									.mediaButton.mediaButton--main(data-slide='8' data-media='0')
										i.glyphicon.glyphicon-play-circle
										p 11:11 p.m.: Video of police entering the apartment for the first time
								li
									.mediaButton.mediaButton--main(data-slide='8' data-media='1')
										i.glyphicon.glyphicon-headphones
										p Audio of 911 dispatch
								li
									.mediaButton.mediaButton--main(data-slide='8' data-media='2')
										i.glyphicon.glyphicon-picture
										p Photos taken from Gaines' cell phone
								li
									.mediaButton.mediaButton--lightbox(data-slide='8' data-docnum='3')
										i.glyphicon.glyphicon-folder-open
										p Relevant documents
						.buttonsWrap
							.button.button--up.button--dir(data-toslide='7')
								p Prev
								i.glyphicon.glyphicon-chevron-up
							.button.button--down.button--dir(data-toslide='9')
								p Next
								i.glyphicon.glyphicon-chevron-down
				section.slide.slide--content.slide--9
					.slideContentWrapper
						h3 9:20 - 9:30
						h2 HEADLINE HEADLINE HEAD 9
						p 
							span 9 Lorem ipsum dolor sit amet 
							| consectetur adipiscing elit. Cras egestas leo sit amet sem varius aliquet. Pellentesque tempus dignissim nunc, ac lobortis eros sodales sit amet. Duis rutrum vehicula metus rhoncus ultrices.
						.media
							.media__item.media__item--image.media__item--9.media__item--9--0.active
								img(src="https://placeholdit.imgix.net/~text?txtsize=144&bg=82baf3&txt=1920%C3%971080&w=1920&h=1080")
								p.caption 9 Lorem ipsum dolor sit amet
							.media__item.media__item--av.media__item--9.media__item--9--1
								.avWrap

							.media__item.media__item--av.media__item--9.media__item--9--2
								.avWrap

						.mediaList
							h4 Multimedia
							ul
								li
									.mediaButton.mediaButton--main(data-slide='9' data-media='0')
										i.glyphicon.glyphicon-play-circle
										p 11:11 p.m.: Video of police entering the apartment for the first time
								li
									.mediaButton.mediaButton--main(data-slide='9' data-media='1')
										i.glyphicon.glyphicon-headphones
										p Audio of 911 dispatch
								li
									.mediaButton.mediaButton--main(data-slide='9' data-media='2')
										i.glyphicon.glyphicon-picture
										p Photos taken from Gaines' cell phone
								li
									.mediaButton.mediaButton--lightbox(data-slide='9' data-docnum='3')
										i.glyphicon.glyphicon-folder-open
										p Relevant documents
						.buttonsWrap
							.button.button--up.button--dir(data-toslide='8')
								p Prev
								i.glyphicon.glyphicon-chevron-up
				.phoneImage
					.svgWrapper
						include images/phone.svg

		//- Ad tag, uncomment to put in ad. Be sure to uncomment the ad-for-header above.
		//- #leaderboard			
			include includes/ad-for-body.html
		
		//Javascript
		//- MAKE SURE TO CHECK OUT package.json and look at the uglify script. 
		//- script(src=datalink + "js/min/jquery-3.0.0.min.js")
		script(src="//assets.documentcloud.org/viewer/loader.js")
		script(src=datalink + "js/app.js")
		//- script(src=datalink + "js/app.min.js")
		
