//- I use this datalink variable to quickly switch between using local assets and using uploaded assets. 
//- For example, say I am uploading files to http://data.baltimoresun.com/example-link
//- If I wanted to switch quickly to my local files, instead of changing all of my links, 
//- I can just modify this single variable.
//- There are two datalink variables so I don't have to rewrite the link every time. 
//- The second datalink variable declaration overwrites the first one. 
//- When I want to switch to my server assets, I comment out the second declaration.
- var datalink = "http://data.baltimoresun.com/news/korryn-gaines/"
- var datalink = ""

doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">
html(class="no-js", lang="en")
	head
		//Basic page needs
		meta(charset="utf-8")
		title The 6-hour Police Standoff of Korryn Gaines | The Baltimore Sun
		meta(name="description", content="A news interactive exploring newly-released evidence in the police standoff and death of Korryn Gaines")
		meta(name="author", content="baltimoresun.com") 
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Old+Standard+TT|Lato|Montserrat|Prata")

		script(src="https://use.typekit.net/nta3eyd.js")
		script.
			try{Typekit.load({ async: true });}catch(e){}
		link(rel="stylesheet", type="text/css", href=datalink + "css/style.css")

		//Facebook Stuff
		meta(property="og:title", content="The 6-hour Police Standoff of Korryn Gaines")
		meta(property="og:url", content="http://data.baltimoresun.com/news/korryn-gaines/")
		meta(property="og:image", content="http://data.baltimoresun.com/news/korryn-gaines/images/facebook-thumb.png")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="Explore newly released evidence in the police standoff and death of #KorrynGaines")
		meta(property="fb:app_id", content="310302989040998")
		//Twitter Stuff
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="@baltimoresun")
		meta(name="twitter:title", content="The 6-hour Police Standoff of Korryn Gaines")
		meta(name="twitter:description", content="Explore newly released evidence in the police standoff and death of #KorrynGaines")
		meta(name="twitter:image", content="http://data.baltimoresun.com/news/korryn-gaines/images/twitter-thumb.png")
		meta(name="twitter:domain", content="baltimoresun.com")

		//- Ad tag, uncomment to put in ad. Be sure to uncomment the ad-for-body below.
		//- include includes/ad-for-header.html
		
	body
		//- This omniture file will also add a topnav. 
		//- Remember to update the omniture tags
		.navWrap
		include includes/omniture.html
		
		.container
			.slidesWrapper
				section.slide.slide--0.slide--splash
					h1 The 6-hour Police Standoff of
						br
						span Korryn Gaines
					.shareTools
						i.icon-facebook
						i.icon-twitter
					p.chatter.chatter--intro.chatter--first
						span On the morning of Aug. 1, 
						| officers with the Baltimore County Police Department arrived at the Randallstown apartment of Korryn Gaines to serve warrants on her and her fiance, Kareem Courtney. After a standoff that lasted about six hours, Gaines was dead from police gunfire. County prosecutors would rule the shooting justified, and no charges would be filed against officers.
					p.chatter.chatter--intro Through a public records request, The Baltimore Sun obtained and reviewed a trove of evidence in the case, from officer statements and police radio chatter to crime scene photographs and videos, pictures and audio recordings taken by Gaines during the standoff.
					p.chatter.chatter--intro This presentation explores what we found: a stark, unvarnished and rare look at the death of a young black woman at the hands of police, from both parties’ perspectives.

					.button.button--splash.button--dir(data-toslide='1')
						p Begin
						i.glyphicon.glyphicon-chevron-down
				section.slide.slide--content.slide--1
					.slideContentWrapper
						h3 9:10 a.m
						.shareTools
							i.icon-facebook
							i.icon-twitter
						h2 The standoff begins
						p
							span About 9:10 a.m., 
							| officers arrived at Gaines’ Randallstown apartment to serve warrants on her and her fiance, Kareem Courtney. Her warrant was for her failure to appear in court on charges related to a traffic stop in March. His warrant was for an assault charge based on a domestic violence report filed by Gaines in June. The officers kicked in the door of the apartment, then retreated to the outer hallway after Gaines, who had a shotgun, told them to leave. Courtney would soon exit the apartment with the couple’s 1-year-old daughter; Gaines remained inside with her 5-year-old son. At 9:41 a.m., officers reported a barricade situation.
						.media
							.media__item.media__item--image.media__item--1.media__item--1--0.active
								img(src=datalink+"images/s2-jamb.jpg")
								p.caption The front door of Korryn Gaines’ apartment
							.media__item.media__item--av.media__item--1.media__item--1--1
								.avWrap
									iframe(src="https://player.vimeo.com/video/190130867" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
							.media__item.media__item--image.media__item--1.media__item--1--2
								img(src=datalink+"images/s2-apt-building.jpg ")
								p.caption Still of apartment complex
						.mediaOverlay.mediaOverlay--1.mediaOverlay--1--0
							.button.button--exit
								i.glyphicon.glyphicon-remove
							.docCloud
								.DV-container#DV-viewer-3212766-Gaines-Previous-Arrest-Report
						.mediaOverlay.mediaOverlay--1.mediaOverlay--1--1
							.button.button--exit
								i.glyphicon.glyphicon-remove
							.docCloud
								.DV-container#DV-viewer-3212765-Warrant-Kareem-Courtney
						.mediaList.mediaList--1
							h4 Multimedia
							ul
								li
									.mediaButton.mediaButton--lightbox(data-slide='1' data-docnum='0')
										i.glyphicon.glyphicon-folder-open
										p Gaines previous arrest report
								li
									.mediaButton.mediaButton--lightbox(data-slide='1' data-docnum='1')
										i.glyphicon.glyphicon-folder-open
										p Warrant for arrest of Kareem Courtney
								li
									.mediaButton.mediaButton--main(data-slide='1' data-media='1')
										i.glyphicon.glyphicon-headphones
										p 9:41 a.m. - 12 p.m. - Police transmission
										p (22:50)
								li
									.mediaButton.mediaButton--main(data-slide='1' data-media='2')
										i.glyphicon.glyphicon-picture
										p Still of apartment complex
								li
									.mediaButton.mediaButton--main.active(data-slide='1' data-media='0')
										i.glyphicon.glyphicon-picture
										p The front door of Korryn Gaines’ apartment
						.buttonsWrap
							.button.button--up.button--dir(data-toslide='0')
								p Prev
								i.glyphicon.glyphicon-chevron-up
							.button.button--down.button--dir(data-toslide='2')
								p Next
								i.glyphicon.glyphicon-chevron-down
				section.slide.slide--content.slide--2
					.slideContentWrapper
						h3 10:24 a.m.
						.shareTools
							i.icon-facebook
							i.icon-twitter
						h2 "If you have a better system here, I’m listening."
						p 
							span As the minutes passed, 
							| officers outside of Gaines’ apartment door tried to convince her to put down her gun and come out. Gaines didn’t budge. Outside, police amassed more resources. Gaines began recording parts of her conversations with police on her phone, including one in which an officer promises her she would not be hurt, and that he just wanted to talk to her.

						.media
							.media__item.media__item--image.media__item--2.media__item--2--0.active
								img(src="images/s3-blueprint.jpg")
								p.caption Apartment layout blueprint
							.media__item.media__item--av.media__item--2.media__item--2--1
								.avWrap
									iframe(src="https://player.vimeo.com/video/189972273" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
							.media__item.media__item--av.media__item--2.media__item--2--2
								.avWrap
									iframe(src="https://player.vimeo.com/video/189973237" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
							.media__item.media__item--av.media__item--2.media__item--2--3
								.avWrap
									iframe(src="https://player.vimeo.com/video/189975120" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
							.media__item.media__item--av.media__item--2.media__item--2--4
								.avWrap
									iframe(src="https://player.vimeo.com/video/190033831" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
						.mediaList.mediaList--2
							h4 Multimedia
							ul
								li
									.mediaButton.mediaButton--main(data-slide='2' data-media='1')
										i.glyphicon.glyphicon-play-circle
										p 10:23 a.m. - Gaines appears seated with gun, yelling at officers
										p (0:11)

								li
									.mediaButton.mediaButton--main(data-slide='2' data-media='2')
										i.glyphicon.glyphicon-play-circle
										p 10:24 a.m. - Gaines exchanges comments with officer. 
										p (0:21)

								li
									.mediaButton.mediaButton--main(data-slide='2' data-media='3')
										i.glyphicon.glyphicon-play-circle
										p 10:56 a.m. - An officer/negotiator talks to Gaines from her door
										p (1:13)
								li
									.mediaButton.mediaButton--main.active(data-slide='2' data-media='0')
										i.glyphicon.glyphicon-folder-open
										p Apartment layout blueprint
								li
									.mediaButton.mediaButton--main(data-slide='2' data-media='4')
										i.glyphicon.glyphicon-headphones
										p 12 - 2 p.m. - Police transmission
										p (18:50)
						.buttonsWrap
							.button.button--up.button--dir(data-toslide='1')
								p Prev
								i.glyphicon.glyphicon-chevron-up
							.button.button--down.button--dir(data-toslide='3')
								p Next
								i.glyphicon.glyphicon-chevron-down
				section.slide.slide--content.slide--3
					.slideContentWrapper
						h3 12:24 p.m
						.shareTools
							i.icon-facebook
							i.icon-twitter
						h2 "The devil at my door"
						p 
							span Hours passed by. 
							| Gaines continued to record video on her phone, and post on social media. At 12:24 p.m., she recorded a video saying the "devil" was at her door, referring to police. Outside, officers obtained a warrant for her arrest on assault, resisting arrest and other charges related to her allegedly pointing her gun at the officers who had initially entered the apartment. Family members tried to reach Gaines, as did a police negotiator, by phone. At one point, Gaines had her son Kodi film an officer in the doorway to the apartment -- who tried to motion to the boy to come out, to no avail.
						.media
							.media__item.media__item--image.media__item--3.media__item--3--0.active
								img(src="images/s4-police-enter.jpg")
								p.caption Still from a video recorded on Korryn Gaines’ phone shows an officer in the doorway of her apartment during the standoff with police.
							.media__item.media__item--av.media__item--3.media__item--3--1
								.avWrap
									iframe(src="https://player.vimeo.com/video/189994976" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
							.media__item.media__item--av.media__item--3.media__item--3--2
								.avWrap
									iframe(src="https://player.vimeo.com/video/190023851" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
							.media__item.media__item--av.media__item--3.media__item--3--3
								.avWrap
									iframe(src="https://player.vimeo.com/video/190023919" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
							.media__item.media__item--av.media__item--3.media__item--3--4
								.avWrap
									iframe(src="https://player.vimeo.com/video/190093788" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
						.mediaOverlay.mediaOverlay--3.mediaOverlay--3--2
							.button.button--exit
								i.glyphicon.glyphicon-remove
							.docCloud
								.DV-container#DV-viewer-3212763-Warrant-Gaines-Standoff
						.mediaList.mediaList--3
							h4 Multimedia
							ul
								li
									.mediaButton.mediaButton--main(data-slide='3' data-media='1')
										i.glyphicon.glyphicon-play-circle
										p 12:24 p.m. - "For anybody who want to know what I’m doing ... devil at my door"
										p (0:59)
								li
									.mediaButton.mediaButton--lightbox(data-slide='3' data-docnum='2')
										i.glyphicon.glyphicon-folder-open
										p 12:43 p.m. - Warrant issued for Gaines’ arrest based on standoff
								li
									.mediaButton.mediaButton--main(data-slide='3' data-media='2')
										i.glyphicon.glyphicon-headphones
										p 1:12 p.m. - Voice message from grandmother
										p (0:16)
								li
									.mediaButton.mediaButton--main(data-slide='3' data-media='3')
										i.glyphicon.glyphicon-headphones
										p 1:12 p.m. - Voice message from police
										p (0:16)
								li
									.mediaButton.mediaButton--main(data-slide='3' data-media='4')
										i.glyphicon.glyphicon-play-circle
										p 1:16 p.m. - Officer motions to Kodi to come out
										p (2:48)
						.buttonsWrap
							.button.button--up.button--dir(data-toslide='2')
								p Prev
								i.glyphicon.glyphicon-chevron-up
							.button.button--down.button--dir(data-toslide='4')
								p Next
								i.glyphicon.glyphicon-chevron-down
				
				section.slide.slide--content.slide--4
					.slideContentWrapper
						h3 1:41 p.m
						.shareTools
							i.icon-facebook
							i.icon-twitter
						h2 "They’re stealing the moment"
						p 
							span Gaines continued to become more emotional. 
							| In a phone conversation she recorded with a police negotiator, she described her March traffic stop as traumatic, saying that she had been mistreated by police and that it had led to her miscarriage of twins. The negotiator told Gaines that the police, at this point, could not simply leave. Gaines said the officers outside her door were the same as those who previously mistreated her. She told the negotiator about Courtney being in prison during the first months of their daughter’s life, and said the police were again trying to disrupt their peaceful family life.

						.media
							.media__item.media__item--image.media__item--4.media__item--4--2.active
								img(src="images/s5-outside.jpg")
								p.caption Police stage outside of Gaines’ Randallstown apartment building. (WJZ)
							.media__item.media__item--av.media__item--4.media__item--4--0
								.avWrap
									iframe(src="https://player.vimeo.com/video/190091836" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
							.media__item.media__item--av.media__item--4.media__item--4--1
								.avWrap
									iframe(src="https://player.vimeo.com/video/190029421" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
						.mediaList.mediaList--4
							h4 Multimedia
							ul
								li
									.mediaButton.mediaButton--main(data-slide='4' data-media='0')
										i.glyphicon.glyphicon-play-circle
										p 1:41 p.m. - Korryn talking to 911/police
										p (1:03)
								li
									.mediaButton.mediaButton--main(data-slide='4' data-media='1')
										i.glyphicon.glyphicon-headphones
										p 1:52 - 1:57 p.m. - Korryn talking to police negotiator
										p (11:37)

						.buttonsWrap
							.button.button--up.button--dir(data-toslide='3')
								p Prev
								i.glyphicon.glyphicon-chevron-up
							.button.button--down.button--dir(data-toslide='5')
								p Next
								i.glyphicon.glyphicon-chevron-down
				section.slide.slide--content.slide--5
					.slideContentWrapper
						h3 3:25 p.m.
						.shareTools
							i.icon-facebook
							i.icon-twitter
						h2 "Shots fired!"
						p 
							span At some point, police shut down Gaines’ Facebook account, 
							| trying to limit her access to the outside world so she would focus on the negotiations. She recorded a video, shot from below, in which she is holding the shotgun at the ready. She bounces, shifting her weight from foot to foot, her son next to her. About 45 minutes later, an officer came across the police radio: "Shots fired!" In a subsequent statement to police, the officer who fired the shots, Officer Royce Ruby Jr., wrote that he first fired after Gaines had raised her gun in the direction of his fellow officers, because he feared for their lives. He wrote that he fired again, after entering the apartment, because Gaines had again raised her shotgun in his direction and he feared for both his life and the life of her son.
						.media
							.media__item.media__item--av.media__item--5.media__item--5--0
								.avWrap
									iframe(src="https://player.vimeo.com/video/190091692" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
							.media__item.media__item--av.media__item--5.media__item--5--1.active
								.avWrap
									iframe(src="https://player.vimeo.com/video/190025681" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
									p.caption Audio transmission from SWAT around 3:25 p.m.
							.media__item.media__item--av.media__item--5.media__item--5--2
								.avWrap
									iframe(src="https://player.vimeo.com/video/190131019" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
						.mediaOverlay.mediaOverlay--5.mediaOverlay--5--3
							.button.button--exit
								i.glyphicon.glyphicon-remove
							.docCloud
								.DV-container#DV-viewer-3212762-Ruby-Statement
						.mediaList.mediaList--5
							h4 Multimedia
							ul
								li
									.mediaButton.mediaButton--main(data-slide='5' data-media='0')
										i.glyphicon.glyphicon-play-circle
										p 2:40 p.m. - From below, holding shotgun up, shaking with Kodi
										p (1:35)
								li
									.mediaButton.mediaButton--main.active(data-slide='5' data-media='1')
										i.glyphicon.glyphicon-headphones
										p 3:25 p.m. - "Back off ... shots fired ... get a medic"
										p (1:40)
								li
									.mediaButton.mediaButton--lightbox(data-slide='5' data-docnum='3')
										i.glyphicon.glyphicon-folder-open
										p Officer Ruby’s statement/interview
								li
									.mediaButton.mediaButton--main(data-slide='5' data-media='2')
										i.glyphicon.glyphicon-headphones
										p 2 – 4 p.m. – Police transmission
										p (12:12)
						.buttonsWrap
							.button.button--up.button--dir(data-toslide='4')
								p Prev
								i.glyphicon.glyphicon-chevron-up
							.button.button--down.button--dir(data-toslide='6')
								p Next
								i.glyphicon.glyphicon-chevron-down
				section.slide.slide--content.slide--6
					.slideContentWrapper
						h3 After 3:2 p.m.
						.shareTools
							i.icon-facebook
							i.icon-twitter
						h2 The standoff ends
						p 
							span After Gaines was shot multiple times, 
							| a medic was called into the apartment. Gaines was pronounced dead in the apartment’s kitchen. Kodi was taken to a hospital. Ruby submitted his weapon to a superior. Photographs show the apartment of a young family suddenly transformed into a crime scene: a police rifle leaning against a wall next to a box of Pampers diapers; a baby rocker feet from Gaines’ shotgun on the floor; and, a trail of blood leading out of the kitchen from Gaines’ lifeless body.
						.media
							.media__item.media__item--image.media__item--6.media__item--6--0.active
								img(src="images/s7-gun-diapers.jpg")
								p.caption Still of officer’s gun, pampers
							.media__item.media__item--image.media__item--6.media__item--6--1
								img(src="images/s7-shotgun.jpg")
								p.caption Still of Gaines’ shotgun
							.media__item.media__item--image.media__item--6.media__item--6--2
								img(src="images/s7-rocker.jpg")
								p.caption Still of baby rocker, blood trail, shotgun
							.media__item.media__item--image.media__item--6.media__item--6--3
								img(src="images/s7-marker.jpg")
								p.caption Evidence marker, blood
						.mediaList.mediaList--6
							h4 Multimedia
							ul
								li
									.mediaButton.mediaButton--main.active(data-slide='6' data-media='0')
										i.glyphicon.glyphicon-picture
										p Still of officer’s gun, pampers
								li
									.mediaButton.mediaButton--main(data-slide='6' data-media='1')
										i.glyphicon.glyphicon-picture
										p Still of Gaines’ shotgun
								li
									.mediaButton.mediaButton--main(data-slide='6' data-media='2')
										i.glyphicon.glyphicon-picture
										p.warning GRAPHIC CONTENT
										p Still of baby rocker, blood trail, shotgun
								li
									.mediaButton.mediaButton--main(data-slide='6' data-media='3')
										i.glyphicon.glyphicon-picture
										p.warning GRAPHIC CONTENT
										p Evidence marker, blood
						.buttonsWrap
							.button.button--up.button--dir(data-toslide='5')
								p Prev
								i.glyphicon.glyphicon-chevron-up
							.button.button--down.button--dir(data-toslide='7')
								p Next
								i.glyphicon.glyphicon-chevron-down
				section.slide.slide--content.slide--7
					.slideContentWrapper
						h3 Following weeks
						.shareTools
							i.icon-facebook
							i.icon-twitter
						h2 The aftermath
						p 
							span In the hours, days and weeks that followed, 
							| Gaines’ killing became a national story. In September, Gaines’ family alleged police wrongdoing in the incident, and filed a lawsuit against the police. Shortly thereafter, Baltimore State’s Attorney Scott Shellenberger declined to file any charges against Ruby or any other officers involved in the incident. In mid-October, Baltimore County Executive Kevin Kamenetz announced that the Baltimore County Police Department would fast-track its efforts to equip county officers with body cameras.
						.mediaOverlay.mediaOverlay--7.mediaOverlay--7--4
							.button.button--exit
								i.glyphicon.glyphicon-remove
							.docCloud
								.DV-container#DV-viewer-3212761-Shellenberger-Letter
						.media
							.media__item.media__item--av.media__item--7.media__item--7--0
								.avWrap
									iframe(src="https://player.vimeo.com/video/190097326" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
							.media__item.media__item--av.media__item--7.media__item--7--1.active
								.avWrap
									iframe(src="https://player.vimeo.com/video/190094499" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
							.media__item.media__item--av.media__item--7.media__item--7--2
								.avWrap
									iframe(src="https://player.vimeo.com/video/190096508" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
							.media__item.media__item--av.media__item--7.media__item--7--3
								.avWrap
									iframe(src="https://player.vimeo.com/video/190099375" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
						.mediaList.mediaList--7
							h4 Multimedia
							ul
								li
									.mediaButton.mediaButton--main(data-slide='7' data-media='0')
										i.glyphicon.glyphicon-play-circle
										p Shellenberger files no charges
										p (0:57)
								li
									.mediaButton.mediaButton--main.active(data-slide='7' data-media='1')
										i.glyphicon.glyphicon-play-circle
										p Korryn Gaines’ family and attorney speaks out
										p (3:07)
								li
									.mediaButton.mediaButton--lightbox(data-slide='7' data-docnum='4')
										i.glyphicon.glyphicon-folder-open
										p Shellenberger declination letter
								li
									.mediaButton.mediaButton--main(data-slide='7' data-media='2')
										i.glyphicon.glyphicon-play-circle
										p Family sues
										p (2:24)
								li
									.mediaButton.mediaButton--main(data-slide='7' data-media='3')
										i.glyphicon.glyphicon-play-circle
										p Baltimore County announces acceleration of body camera program
										p (2:51)
						.buttonsWrap
							.button.button--up.button--dir(data-toslide='6')
								p Prev
								i.glyphicon.glyphicon-chevron-up
							.button.button--down.button--dir(data-toslide='8')
								p Next
								i.glyphicon.glyphicon-chevron-down
				section.slide.slide--end.slide--8
					.slideContentWrapper
						h4 More Coverage:
						p 
							a(href="http://www.baltimoresun.com/topic/crime-law-justice/korryn-gaines-PEOCVC00430-topic.html" target="_blank" rel="noopener") The latest in Korryn Gaines case
						p
							a(href="http://www.baltimoresun.com/news/maryland/crime/bs-md-korryn-gaines-tuesday-20160802-story.html" target="_blank" rel="noopener") Woman killed by Baltimore County police ignored pleas from boyfriend to surrender, mother says
						p
							a(href="http://www.baltimoresun.com/news/opinion/editorial/bs-ed-korryn-gaines-20160816-story.html" target="_blank" rel="noopener") The questions raised by Gaines' death
						p
							a(href="http://www.baltimoresun.com/news/maryland/crime/bs-md-co-shellenberger-gaines-20160921-story.html" target="_blank" rel="noopener") No charges filed in Korryn Gaines shooting
						p
							a(href="http://www.baltimoresun.com/news/maryland/crime/bs-md-co-gaines-facebook-20160908-story.html" target="_blank" rel="noopener") Baltimore County police, prosecutors seek access to Korryn Gaines' private Facebook messages
						
						h4.credits Credits:
						p 
							span Written by 
							| Alison Knezevich and Kevin Rector
						p 
							span Interactive by 
							| Jin Kim and Adam Marton
						p 
							span Multimedia editing by 
							| Emma Patti Harris and Kalani Gordon

						//- #leaderboard
							include includes/ad-for-body.html

						.buttonsWrap
							.button.button--share
								p Facebook
								i.icon-facebook
							.button.button--share
								p Twitter
								i.icon-twitter
							.button.button--up.button--dir(data-toslide='7')
								p Prev
								i.glyphicon.glyphicon-chevron-up
							.button.button--top.button--dir(data-toslide='0')
								p Top
								i.glyphicon.glyphicon-repeat
				.phoneImage
					.svgWrapper
						include images/phone.svg

		
		//Javascript
		//- MAKE SURE TO CHECK OUT package.json and look at the uglify script. 
		//- script(src=datalink + "js/min/jquery-3.0.0.min.js")
		script(src="http://a.vimeocdn.com/js/froogaloop2.min.js")
		script(src="//assets.documentcloud.org/viewer/loader.js")
		script(src=datalink + "js/app.js")
		//- script(src=datalink + "js/app.min.js")
